# Introduction to Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UCL-DSPP-2425/ECON0128-lectures/blob/main/09_python/intro_python.ipynb)

## Why Python?

- Great implementations of machine learning methods
  - [scikit-learn](https://scikit-learn.org/stable/): logistic regression, decision trees, clustering algorithms, and much more.
  - [PyTorch](https://pytorch.org/), [Keras](https://keras.io), [JAX](https://jax.readthedocs.io/en/latest/notebooks/quickstart.html): building blocks for neural networks
  - [HuggingFace](https://huggingface.co/): High-level abstractions to work with modern language models and computer vision models

- Versatility
- Support
  - Large community of active users
  - Modern generative language models can create useful fragments of code

## Variables and data types

- Variables are created using the = sign
- Basic data types in Python:
  - Strings: ```"Hi!"```
  - Integers: ```2```
  - Floats: ```4.4```
  - Booleans: ```True```

In [ ]:
# defining variables in Python and exploring different data types
my_variable = 2

In [ ]:
my_string = "Hi everyone!"
my_float = 2.4
my_boolean = True

In [ ]:
# operations with numbers
2 + 2

In [ ]:
2*4

In [ ]:
2/2

In [ ]:
2**8

In [ ]:
my_math_operation = (2+2) * 8

In [ ]:
my_math_operation

In [ ]:
# operations with strings
"Hi" + " " + "everyone" + "!"

In [ ]:
"Hi"/"everyone"

In [ ]:
False + False + True

In [ ]:
True*False

## Lists

- Basic object in Python to store multiple values together
- Represented by square brackets ```[ ]```

In [ ]:
# create an empty list
empty_list = []

In [ ]:
empty_list

In [ ]:
# create lists
integer_list = [2,3,4,5,6]

In [ ]:
integer_list

In [ ]:
string_list = ["john", "pedro", "juan", "nicolas"]

In [ ]:
string_list

In [ ]:
mixed_list = [2, 4.0, True, "Hi"]

In [ ]:
# get the first element of a list
mixed_list[3]

In [ ]:
mixed_list[-1]

In [ ]:
# change an element within a list
mixed_list[0] = 10

In [ ]:
mixed_list[-1] = "Hello"

In [ ]:
mixed_list

In [ ]:
# add elements to a list
mixed_list + [4,6]

In [ ]:
my_new_list = mixed_list + [4,6]
my_new_list

In [ ]:
# list of lists
my_list_of_lists = [[1,2,3], ["a", "b", "c"], [True, False]]

In [ ]:
my_list_of_lists

## Dictionaries

- Represented by curly brackets ```{}```
- Consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value

In [ ]:
# empty dictionary
my_dictionary = {}

In [ ]:
my_dictionary

In [ ]:
# create a non-empty dictionary (groceries list)
my_groceries = {"bananas": 10, "apples": 1, "olive oil": 1}

In [ ]:
my_groceries

In [ ]:
# access elements of dictionaries
my_groceries["bananas"]

In [ ]:
my_groceries["apples"]

In [ ]:
# create a dictionary with integers as keys
my_numbers = {0: "zero", 1: "one", 2: "two"}

In [ ]:
my_numbers

In [ ]:
my_numbers[2]

In [ ]:
# add new key-value pairs to dictionary
my_numbers[10] = "ten"

In [ ]:
my_numbers

In [ ]:
my_numbers[20] = "twenty"
my_numbers

In [ ]:
# access all keys
my_numbers.keys()

In [ ]:
# access all values
my_numbers.values()

## For loops and list comprehensions

In [1]:
# loop over elements of a list
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [4]:
# must have a space before print(i) to define for loop
for i in my_list:
  print(i)

1
2
3
4
5

In [5]:
for element in my_list:
  print(element)

1
2
3
4
5

In [8]:
my_sum = 0
for k in my_list:
  # my_sum += k # quickway to compute my_sum = my_sum + k in for-loop
  my_sum = my_sum + k

In [7]:
my_sum

15

In [9]:
# loop over a range
# or for i in range(6): ...

for i in range(1, 6): # first element to before 6th element
  print(i)

1
2
3
4
5

In [11]:
# loop over a string
my_string = "Hello!"
for i in my_string:
  print(i)

H
e
l
l
o
!

In [14]:
for k in "Hello!":
  print(k)

H
e
l
l
o
!

In [13]:
# for loop in one line (for simple for-loop)
for k in "Hello!": print(k)

H
e
l
l
o
!

In [15]:
# list comprehension
my_list

[1, 2, 3, 4, 5]

In [17]:
[i + 2 for i in my_list] # loop (i+2) operation for every i in my_list

[3, 4, 5, 6, 7]

In [16]:
new_list =[]
for j,i in enumerate(my_list): # enumerate() to create two running variables i for the content of the list, j for index of elements in the my_list
  print(j)
  print(i)

0
1
1
2
2
3
3
4
4
5

In [26]:
list=["A","B","C"]
list_alt = [i + "_text" for i in list]
list_alt

['A_text', 'B_text', 'C_text']

## Conditional statements

- We can use the ```if``` statement in Python to check if a logical condition is true
- Python supports basic logical operations such as:
    - Equal: ``` == ```
    - Not equal: ``` != ```
    - Greater than: ``` > ```
    - Smaller than: ``` < ```
- After an ```if``` statement we can also use ```elif``` (i.e. else + if) and ```else``` to specify what happens when none of the logical conditions are true

In [27]:
# basic if statement
if 2 > 1:
  print("Yeeees!")

Yeeees!

In [34]:
if "Hello" == "Helo":
  print("They are the same")
  # false argument so not print

In [30]:
if "Hello" != "Helo":
  print("They are not the same")

They are not the same

In [35]:
a = 10
b = 20

if a < b:
  print("a is smaller than b")

a is smaller than b

In [36]:
# if + else statement
if a == b:
  print("They are equal")
else:
  print("They are not equal")

They are not equal

In [37]:
if a > b:
  print("a greater than b")
else:
  print("a is not greater than b")

a is not greater than b

In [38]:
# if + elif + else statement
if a > b:
  print("a greater than b")
elif a == b:
  print("a equal to b")
else:
  print("a not greater and not equal to b")

a not greater and not equal to b

## Functions

- A function is a re-usable block of code that performs one or multiple operations. Functions usually take inputs and return outputs.
- Python has a set of basic pre-built functions. [Here](https://www.w3schools.com/python/python_ref_functions.asp) is a full list but some of the most used are:
  - ```print( )```
  - ```len( )```
  - ```abs( )```, ```max( )```, ```min( )```
  - ```range( )``` <br><br>

- Additional functions can be brought to Python by importing packages
- Functions can also be defined by the user using the ``` def my_function():``` syntax

In [ ]:
# example of pre-built functions
print("Something!")

In [39]:
# len() = length function
len([1,2,3,4])

4

In [40]:
len("Something!")

10

In [41]:
len()

TypeError: len() takes exactly one argument (0 given)

In [42]:
# absolute value function
abs(-10)

10

In [43]:
max([10,200,5,300])

300

In [47]:
import numpy as np

x = np.array([1,2,3,4])

print(type(x)) # could apply many functions on x by dir(x)

# e.g., (only np.array can do), others are applying function on the list elements like max([10,20])
print(x.max())

<class 'numpy.ndarray'>
4

In [48]:
max("ABCD")

'D'

In [49]:
# functions from objects
my_dictionary = {"bananas": 10, "apples": 20}
my_dictionary

{'bananas': 10, 'apples': 20}

In [50]:
my_dictionary.keys()

dict_keys(['bananas', 'apples'])

In [52]:
my_dictionary.values()

dict_values([10, 20])

In [53]:
my_string = "HELLO!"
my_string

'HELLO!'

In [54]:
my_string.lower()

'hello!'

In [55]:
my_string = "Hello world !"
my_string.split()

['Hello', 'world', '!']

In [59]:
# define my own function
def my_function(x):
  result = x*2
  return result # must explicitly return the result!

In [60]:
my_function(10)

20

In [61]:
# piping

# %>% in R as piping sign, . for pipng

string = "S-H"

string_lc = string.lower()
string_split = string_lc.split("-")
print(string_split)

# in one line (. as piping sign)
string.lower.split("-")

['s', 'h']
['s', 'h']